[submodule "repo/fouber/lottery"]
	path = repo/fouber/lottery
	url = https://github.com/fouber/lottery.git
[submodule "repo/vitozyf/lucky-draw"]
	path = repo/vitozyf/lucky-draw
	url = https://github.com/vitozyf/lucky-draw.git
[submodule "repo/moshang-xc/lottery"]
	path = repo/moshang-xc/lottery
	url = https://github.com/moshang-xc/lottery.git
[submodule "repo/landluck/lucky_wheel"]
	path = repo/landluck/lucky_wheel
	url = https://github.com/landluck/lucky_wheel.git
